body {
    position: relative;
    font-family: tajawal;
    font-weight: normal;
    color: $text;

    &::-webkit-scrollbar {
        background-color: #fff;
        width: 7px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #000;
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: #000 #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.overflow {
    overflow: hidden !important;
}

.fixall {
    margin: 0;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    text-decoration: none;
    background-color: transparent;

    &:hover,
    &:focus {
        outline: none;
        box-shadow: none;
        text-decoration: none;
    }
}


a {
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
        color: $sec;
    }
}

.page-content {
    margin-top: 23px;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    color: $text;
    margin: 0 0 16px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    color: $text;
}