.acc-aside {
    .aside-head {
        border: 0 solid $main;
        background-color: $back;
        padding: 16px 22px 17px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        html[dir='ltr'] & {
            border-left-width: 3px;
        }

        html[dir='rtl'] & {
            border-right-width: 3px;
        }

        &::after {
            font-family: 'Linearicons-Free';
            content: "\e874";
            font-size: 12px;
            color: $text;
            display: none;
            transition: all 0.3s ease-in-out;

            @include sm {
                display: block;
            }
        }

        &.active {
            &::after {
                transform: rotate(180deg);

                html[dir='ltr'] & {
                    transform: rotate(-180deg);
                }
            }
        }
    }

    .acc-list {
        padding: 10px 24px;

        @include sm {
            display: none;
            border: 1px solid $back;
        }
    }

    .acc-li {
        line-height: 2.25;
    }

    .acc-a {
        font-size: 16px;
        color: $text;
        display: inline-block;

        &:hover,
        &:focus {
            transform: translateX(-5px);
            color: $sec;

            html[dir='ltr'] & {
                transform: translateX(5px);
            }
        }
    }
}

.my-acc-title {
    padding: 16px 0 17px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    @include xs {
        padding: 15px 0;
        margin-bottom: 22px;
        border-bottom: 1px solid $border;
    }
}

.acc-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px 30px;
    margin-bottom: 20px;

    @include md {
        grid-template-columns: repeat(2, 1fr);
    }

    @include xs {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-bottom: 10px;
    }
}

.acc-block {
    width: 100%;
    padding: 0 20px;
    line-height: 45px;
    font-size: 14px;
    color: $sec;
    display: flex;
    align-items: center;
    border: 1px solid $border;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0);

    i {
        width: 29px;
    }

    &:hover,
    &:focus {
        color: $text;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
        border-color: rgba($border, 0);
    }
}